[phases.setup]
nixPkgs = ['python312', 'postgresql']

[phases.install]
cmds = ['pip install -r requirements.txt']

[phases.build]
cmds = ['python manage.py collectstatic --noinput']

[start]
cmd = 'gunicorn backend.wsgi:application --bind 0.0.0.0:$PORT --workers 2 --timeout 60'
